*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0 auto;
}

.box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ranges{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px 0;
}

.row-range{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.value{
    font-size: 22px;
    color: rgb(8, 197, 197);
}

table{
    border: 1px solid black;
}

table td{
    border: 2px solid red;
    padding: 10px 20px;
}